.clear-fix::after {
    display: block;
    content: "";
    clear: both;
}

.top-header {
display: flex;
}

.header-logo {
    width: 25%;
    font-size: 20px;
    font-family: cursive;
    padding: 12px 30px ;
    
}

.header-info {
    width: 70%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: #555555;
    
}

.header-info .delivery .bi {
    display: inline-block;
    text-align: center;
    line-height: 50%;
    font-size: 36px;
    margin-right: 8px;
    color: #ff5c00;
}

.header-info .text {
    display: inline-block;
}

.header-info>div {
    padding: 12px;
}

.text-cart {
    font-weight: 700;
    font-size: 14px;
}


/* -------------------------------- */

.bottom-header {
    background-color: #ff5c00 !important;
    z-index: 100;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-header .container {
    position: relative;
}

.me-auto>a.nav-link,
.nav-item>a {
    color: #fff !important;
    padding: 16px 8px;
    font-size: 17px;
}
.me-auto>.nav-link:hover {
    background-color: #cc4a00 !important;
}
.me-auto>.nav-link.active {
    background-color: #cc4a00 !important;
}

#basic-nav-dropdown:hover {
    background-color: #cc4a00 !important;
}

.nav-products {
    color: #000 !important;
}

.nav-products:hover {
    color: #ff5c00 !important;
}


.input-group {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    margin-right: 200px;
}

.input-group .bi {
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.input-group .bi:hover {
    color: #ff5c00;
}

.input-group-text {
    background-color: #000;
}

.account {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 16px;
}

.account i {
    color: #fff;
    margin: 0 2px;
}

.account a{
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.account a:hover,
.account a:active {
    color: #ccc !important;
}

.nav-list {
    display: none;
    float: left;
}

@media (max-width: 450px) {
    .header-info {
        justify-content: flex-end;
      }
    
      .input-group {
        margin-right: 150px !important;
        width: 30%;
      }
}
  
@media (max-width: 768px) {
    .header-info {
      justify-content: flex-end;
    }
  
    .input-group {
      margin-right: 170px;
      width: 40%;
    }
}

/* For screens smaller than 993px */
@media (max-width: 992px) {
    .me-auto {
        display: none;
    }
    .nav-list {
        display: flex;
        justify-content: left;
    }
    .nav-list .dropdown-toggle {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        padding: 6px 16px;
    }

    .header-info .delivery:not(.cart) {
        display: none;
    }

    .header-info {
        justify-content: flex-end;
      }

    .input-group {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 200px;
        max-width: 220px;
    }
} 

@media (max-width: 1200px) {
    .input-group {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 180px;
        max-width: 260px;
    }
}

@media (max-width: 1080px) {
    .input-group {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 180px;
        max-width: 260px;
    }
}
