.top-header {
display: flex;
}

.header-logo {
    width: 25%;
    font-size: 20px;
    font-family: cursive;
    padding: 12px 30px ;
    
}

.header-info {
    width: 70%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: #555555;
    
}

.header-info .delivery .bi {
    display: inline-block;
    text-align: center;
    line-height: 50%;
    font-size: 36px;
    margin-right: 8px;
    color: #ff5c00;
}

.header-info .text {
    display: inline-block;
}

.header-info>div {
    padding: 12px;
}

.text-cart {
    font-weight: 700;
    font-size: 14px;
}


/* -------------------------------- */

.bottom-header {
    background-color: #ff5c00 !important;
    z-index: 100;
}

.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bottom-header .container {
    position: relative;
}

.me-auto>a.nav-link,
.nav-item>a {
    color: #fff !important;
    padding: 16px 8px;
    font-size: 17px;
}
.me-auto>.nav-link:hover {
    background-color: #cc4a00 !important;
}
.me-auto>.nav-link.active {
    background-color: #cc4a00 !important;
}

#basic-nav-dropdown:hover {
    background-color: #cc4a00 !important;
}

.nav-products {
    color: #000 !important;
}

.nav-products:hover {
    color: #ff5c00 !important;
}


.input-group {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    margin-right: 200px;
}

.input-group .bi {
    color: #fff;
    font-weight: 900;
    cursor: pointer;
}

.input-group .bi:hover {
    color: #ff5c00;
}

.input-group-text {
    background-color: #000;
}

.account {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 16px;
}

.account i {
    color: #fff;
    margin: 0 2px;
}

.account a{
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.account a:hover,
.account a:active {
    color: #ccc !important;
}

.search-container {
    display: block;
    margin: 16px 0;
}

.nav-list {
    display: none;
    float: left;
}

@media (max-width: 768px) {
    .top-header {
      flex-direction: column;
      align-items: center;
    }
  
    .header-logo {
      width: 100%;
      text-align: center;
      padding: 12px 0;
    }
  
    .header-info {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .header-info > div {
      padding: 12px 0;
    }
  
    .input-group {
      position: static;
      margin: 20px auto;
    }
  
    .account {
      position: static;
      margin-top: 20px;
      text-align: center;
    }
  }
  
  /* For screens larger than 768px */
  @media (min-width: 769px) {
    .header-info {
      justify-content: flex-end;
    }
  
    .input-group {
      margin-right: 170px;
      max-width: 320px;
    }
  
  }

  @media (max-width: 992px) {
    .search-container {
        display: inline-block !important;
    }
    .search-container .input-group {
        /* margin: 16px 0; */
    }
    .me-auto {
        display: none;
    }
    .nav-list {
        display: flex;
        justify-content: left;
    }
    .nav-list .dropdown-toggle {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        padding: 6px 16px;
    }
  } 